Hello Valued Perker!
You have been registered to use our services by your company, <%= @user[:company_name] %>.
You can login with your company e-mail and this password: <%= @user[:password] %>.
Kindly visit the following site and proceed with the registration details.
http://localhost:3000/login

Thank you very much!
