<div id="wrapper">
<div id="contents" class="timeline">
<% if flash[:notice] %><p class="c_align notice"><b><i><%= flash[:notice] %></i></b></p><% end %>
<div style="text-align:center"><b><i><span class="notice"></span></i></b></div><br>

<div class="mypage row">
  <div class="outofboxmsg col-12">
    <p><b><span class="font16"><%= @user.out_points %></span> ポイント</b> 持っています。誰かにボーナスを贈ってみましょう。</p>
  </div>
  <div class="rightbox col-4">
    <div class="title">
      <img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/icon_profile.png"/>
      プロフィール
    </div>
    
    <div class="profilebox">
      <div class="pic">
	<a href="/profile"><img src="<%= @user.img_src %>" class="radius10"/></a>
      </div>
      <p>@<%= @user.name %></p>
      <hr><br>
      <p><b><span class="font24"><%= @user.in_points %></span> ポイント</b></p><br>
      <p><a href="/rewards" class="btn_reward">ポイントを交換する</a></p>
    </div>
  </div>

  <div class="leftbox col-8">
    <%= form_tag( "/user/give_points", method: "post", id: "login_form" ) do %>
    <div class="pointsbox">
      <p align="center">
	<div class="dropdown">
	  <input type="image" id="ptsbtn" class="dropbtn" src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_icon_01.png" onClick="return false;"/>
	  <input type="image" id="atbtn" class="dropbtn" src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_icon_02.png" onClick="return false;" />
	  <input type="image" id="tagbtn" class="dropbtn" src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_icon_03.png" onClick="return false;" />
	  <div id="myDropdown" class="dropdown-content"> </div>
	</div><br><hr>

	<div class="description">
	  <textarea name="description" class="taginput" align="center" rows="5" cols="80" placeholder="<%= @placeholder %>"></textarea><br>
	</div><br>

	<div class="tags" style="float:left">
	  To: <span></span> 
	</div>
	<span class="pointsInput"></span>
	<p align="right"><input type="submit" value="送信する" class="radius5 btn_give"/></p>
    </div> <!-- pointsbox -->  
    <% end %>
    <br>

    <div class="timeline">
    <% @posts.each do | post | %>
      <div id="postsbox">
	<div class="images">
	  <table>
	    <tr>
	      <td><img src="<%= post[:user_img] %>" class=""/></td>
	      <td><img src="<%= post[:receiver_img] %>" class=""/></td>
	    </tr>
	  </table>
	</div>
	<div class="posts">
	  From <span class="user giver"><b>@<%= post[:user_name] %></b></span><br> 
	  To <span class="user receiver"><b>@<%= post[:receiver_name] %>: </b></span>
	  <span class="points radius5"><%= post[:points] %> pts</span><br>
	  
	  <span class="description"><%= raw post[:description].gsub(/\+[^\s|　]+/,"").gsub(/\#[^\s|　]+/,"<b style='color:#0080ff'>\\0</b>") %></span><br>
	</div>
	<hr>
	<div class="kudos">
	  <% if post[:kudos].find { |item| item[:user_id] == @user.id } %>
	    <a data-id="<%= post[:id] %>" class="a_btn btn_unlike"><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_iine_on.png"/></a>
	  <% else %>
	    <a data-id="<%= post[:id] %>" class="a_btn btn_like"><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/btn_iine_off.png"/></a>
	  <% end %>

	  <span class="kudos_count"><%= post[:kudos].count %>件</span>
	  <div class="tooltip">
	    <a class="a_btn user_kudos">
	      <% if post[:kudos].present? %>
		<% post[:kudos].each_with_index do | kudo, i | %>
		  <%= kudo.user.name %>
		  <% unless i == post[:kudos].count-1 %>,<% end %>
		  <% if i > 3 %><% break %> <% end %>
		<% end %>...
	      <% end %>
	    </a>
	    <span class="tooltiptext">
	      <% post[:kudos].each do | kudo | %>
		<%= kudo.user.name %><br>
	      <% end %>
	    </span>
	  </div>
	</div>
	
	<div class="comments">
	  <div class="comment_entry_<%= post[:id] %>">
	    <% post[:comments].each do | comment | %>
	    <div class="comment_entry">
	      <div class="user_comment_img">
		<img src="<%= comment.user.img_src %>" width="25px" height="25px" class="radius20" />
	      </div>
	      <div class="user_comments">
		<span class="user" style="font-weight:normal;">@<%= comment.user.name %></span>
		<span class="comment"><%= comment.comments %></span>
	      </div>
	    </div> <br> 
	    <% end %>
	  </div>
	  <input type="text" name="comment" data-id="<%= post[:id] %>" class="give_comments
	  post_comment_<%= post[:id] %>"
	  value="" placeholder="コメントする" autocomplete="off"/>
	  <input type="button" class="btn_comment" data-id="<%= post[:id] %>" value="送信"/>
	</div>
      </div><br>
    <% end %>
    </div>
  </div> <!-- leftbox -->
</div><!-- row -->
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
$(".give_comments").bind('keypress',function(e) {
  if(e.keyCode == 13) {
    var post_id = ($(this).attr('data-id')); //get attributes of clicked item
    var comments = ($(this).val()); //get attributes of clicked item

    postComment(post_id, comments);
  }
});

$(".btn_comment").click(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item
  var comments = $(".post_comment_"+post_id).val(); 

  postComment(post_id, comments);
});

function postComment(post_id, comments) {
  $.ajax({
    type: "POST",
    url: "/user/give_comments",
    data: { 'post_id': post_id, 'comments': comments },
    success: function(data) {
      $(this).val("");
      window.location.reload(); 
    }
  });
}

$(".btn_like").mouseup(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/user/give_kudos",
    data: { 'post_id': post_id, 'kudos': 1 },
    success: function(data) {
      window.location.reload(); 
    }
  });
});

$(".btn_unlike").mouseup(function() {
  var post_id = ($(this).attr('data-id')); //get attributes of clicked item

  $.ajax({
    type: "POST",
    url: "/user/give_kudos",
    data: { 'post_id': post_id, 'kudos': 0 },
    success: function(data) {
      window.location.reload(); 
    }
  });
});

function getTag () {
  items = [];
  <% if @hashtags.present? %>
    <% @hashtags.each do | tag | %>
      items.push("<%= tag %>");
    <% end %>
  <% end %>
  return items;
}

function getName () {
  items = {};
  <% @users.each do | user | %>
    <% unless (user.name).match(@user.name) %> 
      items["<%= user.id %>"] = "<%= user.name %>";
    <% end %>
  <% end %>
  return items;
}

function getPoints () {
  return ["2","5","10","20","30"];
}

$(".btn_give").click(function() {
  dataReceive = $(".receiver-selected").val();
  input = $(".taginput").val();
  isPoint = input.match(/\+[^\s|　]+/);
  isTag = input.match(/\#[^\s|　]+/);

  
  if(dataReceive == null || !isPoint || !isTag ) {
    $("span.notice").text("投稿に不備があります。(誰に贈るのか、ポイント数、ハッシュタグが必須です。)");
    return false;
  } 
});

$(".selDropdown option").click(function() {
  $(".tags span").empty();
  $(".tags span").append($("<input type='button' class='btn radius5'/>").val($(this).text()));
});

$("#myDropdown").click(function(e) {
  content = e.target.text;
  className = e.target.classList[1];
  dataId = e.target.dataset.id;

  switch (className) {
    case "drpPoints":
      $(".taginput").val($(".taginput").val() + "+" + content + " ");
      break;
    case "drpAt":
      $(".tags span").empty();
      $(".tags span").append($("<input type='button' class='btn radius5'/>").val(content));
      $(".tags span").append($("<input type='hidden' class='receiver-selected' name='receiver_id'/>").val(dataId));
      break;
    case "drpTag":
      $(".taginput").val($(".taginput").val() + "#" + content + " ");
      break;
  }
});

$(".dropbtn").click(function() {
  var symId = $(this).attr("id");
  var className = "";
  var dataId = "";

  switch (symId) {
    case "ptsbtn":
      values = getPoints();
      className = "drpPoints";
      break;
    case "atbtn":
      values = getName();
      className = "drpAt";
      break;
    case "tagbtn":
      values = getTag();
      className = "drpTag";
      break;
  }

  $("#myDropdown > a").remove();
  $.each(values, function( index, value ) {
    $("#myDropdown").append($("<a data-id='"+index+"'></a>").addClass("item "+ className).text(value));
  });

  $("#myDropdown").show();
  
  $(".item").click(function() {
    $(".taginput").focus();
  });
});

$(document).mouseup(function(e) {
  var subject = $(".dropbtn");
  if(e.target.id != subject.attr("id")){
    $("#myDropdown").hide();
  }
});
</script>
