<div id="wrapper">
<div id="contents">
  <h3 class="c_align">ユーザー情報編集</h3><br>
  <%= form_tag( "/update/complete", method: "post", id: "login_form", multipart: true ) do %>
  <div class="toolbox center">
    <table class="center tbl_tools">
      <tr>
	<td>会社: </td>
	<td><%= @user.company.name %></td>
      </tr>
      <tr>
	<td>メールアドレス: </td>
	<td><%= @user.email %></td>
      </tr>
      <tr>
	<td>パスワード: </td>
	<td><input type="button" value="パスワード変更" class="btn_change_password"/></td>
      </tr>
      <tr class="password">
	<td>新しいパスワード: </td>
	<td><input type="password" name="password" value="" id="passwd1"/></td>
      </tr>
      <tr class="password">
	<td>パスワード確認: </td>
	<td>
	  <input type="password" name="password" value="" id="passwd2"/><br>
	  <span class="notice"></span>
	</td>
      </tr>
      <tr>
	<td>役職: </td>
	<td><input type="text" name="job_title" value="<%= @user.job_title %>"/></td>
      </tr>
      <tr><td colspan="2"><hr></td></tr>
      <tr>
	<td>プロフィール写真: </td>
	<td><%= file_field_tag :img_src %></td>
      </tr>
      <tr>
	<td>ユーザー名: </td>
	<td>
	  <input type="text" name="name" value="<%= @user.name %>"/><br>
	  <span class="instructions">好きなユーザーネームに変更できます</span>
	</td>
      </tr>
      <tr>
	<td>苗字: </td>
	<td><input type="text" name="lastname" value="<%= @user.lastname %>"/></td>
      </tr>
      <tr>
	<td>名前: </td>
	<td><input type="text" name="firstname" value="<%= @user.firstname %>"/></td>
      </tr>
      <tr>
	<td>性別: </td>
	<td>
	  <label><input type="radio" name="gender" value="0" <% if @user.gender==0 %> checked <% end %>/>男</label>
	  <label><input type="radio" name="gender" value="1" <% if @user.gender==1 %> checked <% end %>/>女</label>
	</td>
      </tr>
      <tr>
	<td>生年月日: </td>
	<td>
	  <select name="b_year">
	  <% @years.reverse_each do | val | %>
	    <option value="<%= val %>" <% if @b_year==val %> selected <% end %>><%= val %></option>
	  <% end %>
	  </select> 年 
	  <select name="b_month">
	  <% (1..12).each do | val | %>
	    <option value="<%= val %>" <% if @b_month==val %> selected <% end %>><%= val %></option>
	  <% end %>
	  </select> 月 
	  <select name="b_day">
	  <% (1..31).each do | val | %>
	    <option value="<%= val %>" <% if @b_day==val %> selected <% end %>><%= val %></option>
	  <% end %>
	  </select> 日
	</td>
      </tr>
    </table><br>
    <p align="center">
      <input type="button" value="戻る" class="btn btn_back" />
      <input type="submit" value="送信" class="btn"/>
    </p>
  </div><br><br>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
var passwd1 = document.getElementById("passwd1");
var passwd2 = document.getElementById("passwd2");

function validatePassword(){
  if(passwd1.value != passwd2.value) {
    $(".notice").text("パスワードに誤りがあります");
  } else {
    $(".notice").text("");
  }
}
passwd1.onchange = validatePassword;
passwd2.onkeyup = validatePassword;

$(document).ready(function() {
  $(".password").hide();
});

$(".btn_change_password").click(function() {
  $(".password input").val("");
  $(".notice").text("");
  $(".password").toggle();
});

$(".btn_back").click(function() {
  window.location = "/profile";
});
</script>
