<pre>
こんにちは！<%= @company[:name] %> <%= @company[:owner] %>さん

Prizy(プライジー)にご登録いただきありがとうございます。
<b><a href="<%= @company[:prizy_url] %>">コチラ</a></b>より、ご登録いただいたメールアドレス、パスワードでログインできます。

Prizyのご利用手順は下記の通りです。
=====================================
①社員登録
Prizyをご利用予定の社員の方のメールアドレスを登録してください。
登録された社員の方のメールアドレス宛にPrizyより招待メールを送信いたします。
※社員登録ページより簡単に行えます。

②プレゼントの登録
社員の方はPrizy上でたまったポイントを素敵なプレゼントに交換することができます。
どんなプレゼントを用意するかは全て貴社でカスタマイズしていただけます。
(例：社長とランチ券、マネージャーとランチ券、本などのプレゼント券、定時帰宅券、ランチタイム30分延長券、イベントへの招待券など)
なお、PrizyではAmazonギフト券、スタバカードへの交換を一律でご用意しております。
※プレゼント登録ページより簡単に行えます。

③社員のかたへの積極的な呼びかけ
社内の褒める文化形成のためには社員ひとりひとりの方の積極的な発信がかかせません。Prizyでは楽しく褒め合いモチベーションアップにつながるようなサービス設計を全身全霊で行って参りますが、貴社のなかでの利用呼びかけはPrizyの定着および文化形成にとって非常に重要であると考えております。
何とぞ貴社社内での利用呼びかけをお願いいたします。
　
④ユーザーとしてもご利用ください。
<%= @company[:owner] %>さまもご自身をユーザー登録し、ご利用していただけますでしょうか。最初に褒めるのは、なかなか恥ずかしいものですが、<%= @company[:owner] %>さまがファーストペンギンとして褒める文化の形成のためにご利用ください。
=====================================

利用の手引きは<b><a href="https://prizy.herokuapp.com/tip/index">コチラ</a></b>です。

この度はご登録いただき誠にありがとうございました。
引き続きPrizyをよろしくお願いいたします。


Prizy運営事務局
</pre>
