<div id="wrapper">
<div id="contents">
  <h3 class="c_align">企業情報</h3><br>
  <div class="toolbox center">
    <table class="tbl_tools center">
      <tr>
	<td>会社名: </td>
	<td><%= @company[:name] %></td>
      </tr>
      <tr>
	<td>会社URL: </td>
	<td><%= @company[:url] %></td>
      </tr>
      <tr>
	<td>担当者名: </td>
	<td><%= @company[:owner] %></td>
      </tr>
      <tr>
	<td>メールアドレス: </td>
	<td><%= @company[:email] %></td>
      </tr>
      <tr>
	<td>会社住所: </td>
	<td><%= @company[:address] %></td>
      </tr>
      <tr>
	<td>電話番号: </td>
	<td><%= @company[:phone] %></td>
      </tr>
      <tr>
	<td>ハッシュタグ: </td>
	<td><%= @company[:hashtags] %></td>
      </tr>
    </table><br>
    <p align="center">
      <input type="button" value="戻る" class="btn btn_back" />
      <input type="button" value="情報編集" class="btn btn_edit" />
    </p>
  </div><br><br>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
$(".btn_edit").click(function() {
  window.location = '/company/edit';
});

$(".btn_back").click(function() {
  window.location = "/company";
});
</script>
