<div id="wrapper">
<div id="contents">
  <h3 align="center">ギフト編集</h3><br>
  <%= form_tag( "/company/rewards/edit/complete", method: "post", id: "new_form" ) do %>
  <input type="hidden" name="reward_id" value="<%= params[:reward_id] %>"/>
  <div class="toolbox">
    <table class="tbl_tools">
      <tr>
	<td>タイトル: </td>
	<td><input type="text" name="title" value="<%= @reward.title %>" size="32"  maxlength="25 "required /></td>
      </tr>
      <tr>
	<td>詳細: </td>
	<td><textarea name="description" rows="5" cols="25" placeholder="100文字以内" maxlength="100"><%= @reward.description %></textarea></td>
      </tr>
      <tr>
	<td>ポイント: </td>
	<td><input type="number" name="points" value="<%= @reward.points %>" required/></td>
      </tr>
      <tr>
	<td colspan="2" align="right">
	  <br>
	  <input type="button" value="戻る" class="btn_back btn" />
	  <input type="submit" value="送信" class="btn_submit btn" />
	</td>
      </tr>
    </table>
  </div><br><br>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
$(".btn_back").click(function() {
  window.location = "/company/rewards";
});
</script>
