<!DOCTYPE html>
<html>
<head>
  <title>PRIZY | BtoA Inc.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'default2.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.easytabs.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
   ga('create', 'UA-68988979-3', 'auto');
   ga('send', 'pageview');
  </script>
</head>
<body>

<%= render "shared/header"%>
<%= yield %>
<%= render "shared/footer"%>

</body>
</html>
